* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: monospace, sans-serif;
    font-size: 20px;
    background-color: #c75412;
    color: #4F4846;
  }

  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 1%;
      background-color: tan;
  }

li, a {
    color: white;
    text-decoration: none;
}

  .nav-links {
    list-style: none;
  }

  .nav-links li {
      display: inline-flex;
      flex-direction: flex-end;
      padding: 0px 20px;
  }

  .nav-links li a {
      transition: all 0.3s ease 0s;
  }

  .nav-links li a:hover {
    color: olive;
    text-decoration: underline;
}







  

 




