* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: monospace;
    font-size: 20px;
    background-color: tan;
    color: black;
}

header, footer {
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: olive;
}

nav {
    text-align: right;
}

li {
    display: inline;
    padding: 10px 10px;
    text-decoration: none;
}

main {
    display: 100vh;
}
